
$main-fonts: Arial, sans-serif;
$headings-color: green;
$color-black: #000;

h1 {
  font-family: $main-fonts;
  color: $headings-color;
}

// @for $i from 1 to 6 {
// .text-#{$i} { font-size: 15px*$i; }
// }

@for $i from 1 through 5 {
    .text-#{$i} { font-size: 15px*$i;color: $color-black; }
    }

