h1 {
  font-family: Arial, sans-serif;
  color: green;
}

.text-1 {
  font-size: 15px;
  color: #000;
}

.text-2 {
  font-size: 30px;
  color: #000;
}

.text-3 {
  font-size: 45px;
  color: #000;
}

.text-4 {
  font-size: 60px;
  color: #000;
}

.text-5 {
  font-size: 75px;
  color: #000;
}
/*# sourceMappingURL=style.css.map */